numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
plotly==5.19.0
seaborn==0.13.2
scipy==1.12.0
scikit-learn==1.4.0
opencv-python==4.9.0.80
rembg==2.0.55
tqdm==4.66.2
jupyter==1.0.0
tensorflow==2.14.0


Labridae_Halichoeres_claudia
Labridae_Labroides_dimidiatus
Plesiopidae_Assessor_flavissimus
Gobiidae_Lythrypnus_nesiotes
Monacanthidae_Monacanthus_tuckeri
Pomacanthidae_Centropyge_flavissima
Pomacanthidae_Centropyge_bispinosa
Gobiidae_Eviota_nebulosa
Sciaenidae_Eques_punctatus
Creediidae_Limnichthys_nitidus
Labridae_Gomphosus_varius
Serranidae_Pseudogramma_polyacantha
Tripterygiidae_Helcogramma_fuscopinna
Gobiidae_Eviota_teresae
Blenniidae_Ecsenius_pulcher
Gobiidae_Paragobiodon_lacunicolus
Gobiidae_Trimma_capostriatum
Gobiidae_Eviota_monostigma
Cirrhitidae_Paracirrhites_arcatus
Apogonidae_Pristiapogon_kallopterus
Pomacentridae_Pomacentrus_amboinensis
Dactyloscopidae_Gillellus_uranidae
Chaenopsidae_Acanthemblemaria_aspera
Tripterygiidae_Enneanectes_matador
Gobiidae_Eviota_prasites
Gobiesocidae_Acyrtus_lanthanum
Scorpaenidae_Sebastapistes_fowleri
Pseudochromidae_Pseudoplesiops_revellei
Gobiidae_Trimma_maiandros
Pomacentridae_Pomacentrus_pavo
Syngnathidae_Doryrhamphus_excisus
Cirrhitidae_Neocirrhites_armatus
Gobiidae_Trimma_macrophthalmus
Chaetodontidae_Chaetodon_quadrimaculatus
Apogonidae_Apogon_binotatus
Scorpaenidae_Scorpaenodes_kelloggi
Scorpaenidae_Caracanthus_unipinna
Syngnathidae_Corythoichthys_flavofasciatus
Dinematichthyidae_Ogilbia_
Gobiidae_Gobiodon_histrio
Pseudochromidae_Pseudochromis_revellei
Pseudochromidae_Pseudochromis_flammicauda
Pomacentridae_Chromis_margaritifer
Plesiopidae_Plesiops_coeruleolineatus
Gobiidae_Eviota_melasma
Gobiidae_Pleurosicya_labiata
Labridae_Pseudocheilinus_tetrataenia
Tripterygiidae_Enneapterygius_ventermaculus
Labridae_Pseudocheilinus_hexataenia
Apogonidae_Ostorhinchus_angustatus
Gobiidae_Nemateleotris_magnifica
Gobiidae_Eviota_albolineata
Gobiidae_Istigobius_decoratus
Gobiidae_Gobiodon_quinquestrigatus
Gobiidae_Paragobiodon_modestus
Blenniidae_Enchelyurus_ater
Gobiidae_Koumansetta_rainfordi
Pseudochromidae_Cypho_purpurascens
Blenniidae_Cirripectes_variolosus
Tripterygiidae_Enneapterygius_tutuilae
Gobiidae_Priolepis_semidoliatus
Tripterygiidae_Enneapterygius_pyramis
Apogonidae_Fowleria_vaiulae
Tetraodontidae_Canthigaster_solandri
Pomacanthidae_Pomacanthus_maculosus
Gobiidae_Cryptopsilotris_batrachodes
Gobiidae_Hetereleotris_vulgaris
Gobiidae_Eviota_atriventris
Tripterygiidae_Ucla_xenogrammus
Apogonidae_Apogon_maculatus
Gobiidae_Aioliops_megastigma
Gobiidae_Fusigobius_neophytus
Blenniidae_Ecsenius_stictus